<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated client_serveur -->
      <package
            uri="http://www.example.org/client_serveur"
            class="client_serveur.Client_serveurPackage"
            genModel="model/client_serveur.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated client_serveur -->
      <package
            uri="http://www.example.org/cosa"
            class="cosa.CosaPackage"
            genModel="model/client_serveur.genmodel"/>
   </extension>

</plugin>
